USE [master]
GO
/****** Object:  Database [CNyit]    Script Date: 5/9/2016 5:08:43 PM ******/
CREATE DATABASE [CNyit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CNyit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CNyit.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CNyit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CNyit_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CNyit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CNyit]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 5/9/2016 5:08:43 PM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[ClubDetail]    Script Date: 5/9/2016 5:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubDetail](
	[ClubGUID] [uniqueidentifier] NOT NULL,
	[ClubID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClubName] [nvarchar](50) NOT NULL,
	[ClubLogo] [nvarchar](max) NOT NULL,
	[ClubDescription] [nvarchar](max) NOT NULL,
	[ClubLocation] [nvarchar](50) NOT NULL,
	[Advisor] [bigint] NOT NULL,
	[MeetingDates] [nvarchar](50) NOT NULL,
	[Internatinal] [bit] NOT NULL,
	[Technology] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ClubDetail] PRIMARY KEY CLUSTERED 
(
	[ClubGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventDetail]    Script Date: 5/9/2016 5:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventDetail](
	[EventGUID] [uniqueidentifier] NOT NULL,
	[EventID] [bigint] IDENTITY(200,1) NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ClubID] [bigint] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Cordinator] [bigint] NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[Hidden] [bit] NOT NULL,
 CONSTRAINT [PK_EventDetail] PRIMARY KEY CLUSTERED 
(
	[EventGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleDetail]    Script Date: 5/9/2016 5:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleDetail](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_RoleDetail] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserClubRoleDetail]    Script Date: 5/9/2016 5:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClubRoleDetail](
	[UserClubRoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ClubID] [bigint] NOT NULL,
	[RoleID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_UserClubRoleDetail] PRIMARY KEY CLUSTERED 
(
	[UserClubRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserDetail]    Script Date: 5/9/2016 5:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDetail](
	[UserGUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] IDENTITY(1000,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[StudentID] [bigint] NULL,
	[EmployeeID] [bigint] NULL,
	[NYITEmailID] [nvarchar](50) NOT NULL,
	[LinkedInUserID] [nvarchar](50) NOT NULL,
	[Gender] [int] NOT NULL,
	[Aluminus] [bit] NOT NULL,
	[Major] [varchar](50) NOT NULL,
	[Natinality] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_ClubDetail]    Script Date: 5/9/2016 5:08:43 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClubDetail] ON [dbo].[ClubDetail]
(
	[ClubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ClubDetail_1]    Script Date: 5/9/2016 5:08:43 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClubDetail_1] ON [dbo].[ClubDetail]
(
	[ClubName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventDetail]    Script Date: 5/9/2016 5:08:43 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EventDetail] ON [dbo].[EventDetail]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserClubRoleDetail]    Script Date: 5/9/2016 5:08:43 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserClubRoleDetail] ON [dbo].[UserClubRoleDetail]
(
	[ClubID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserClubRoleDetail_1]    Script Date: 5/9/2016 5:08:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserClubRoleDetail_1] ON [dbo].[UserClubRoleDetail]
(
	[ClubID] ASC,
	[RoleID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTable]    Script Date: 5/9/2016 5:08:43 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserTable] ON [dbo].[UserDetail]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClubDetail]  WITH CHECK ADD  CONSTRAINT [FK_ClubDetail_UserDetail] FOREIGN KEY([Advisor])
REFERENCES [dbo].[UserDetail] ([UserID])
GO
ALTER TABLE [dbo].[ClubDetail] CHECK CONSTRAINT [FK_ClubDetail_UserDetail]
GO
ALTER TABLE [dbo].[EventDetail]  WITH CHECK ADD  CONSTRAINT [FK_EventDetail_ClubDetail] FOREIGN KEY([ClubID])
REFERENCES [dbo].[ClubDetail] ([ClubID])
GO
ALTER TABLE [dbo].[EventDetail] CHECK CONSTRAINT [FK_EventDetail_ClubDetail]
GO
ALTER TABLE [dbo].[EventDetail]  WITH CHECK ADD  CONSTRAINT [FK_EventDetail_UserDetail] FOREIGN KEY([Cordinator])
REFERENCES [dbo].[UserDetail] ([UserID])
GO
ALTER TABLE [dbo].[EventDetail] CHECK CONSTRAINT [FK_EventDetail_UserDetail]
GO
ALTER TABLE [dbo].[UserClubRoleDetail]  WITH CHECK ADD  CONSTRAINT [FK_UserClubRoleDetail_ClubDetail] FOREIGN KEY([ClubID])
REFERENCES [dbo].[ClubDetail] ([ClubID])
GO
ALTER TABLE [dbo].[UserClubRoleDetail] CHECK CONSTRAINT [FK_UserClubRoleDetail_ClubDetail]
GO
ALTER TABLE [dbo].[UserClubRoleDetail]  WITH CHECK ADD  CONSTRAINT [FK_UserClubRoleDetail_RoleDetail] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleDetail] ([RoleID])
GO
ALTER TABLE [dbo].[UserClubRoleDetail] CHECK CONSTRAINT [FK_UserClubRoleDetail_RoleDetail]
GO
ALTER TABLE [dbo].[UserClubRoleDetail]  WITH CHECK ADD  CONSTRAINT [FK_UserClubRoleDetail_UserDetail] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserDetail] ([UserID])
GO
ALTER TABLE [dbo].[UserClubRoleDetail] CHECK CONSTRAINT [FK_UserClubRoleDetail_UserDetail]
GO
USE [master]
GO
