@{
    Layout = null;
}

<!DOCTYPE html>
<script>
    function CallService() {
        $.ajax({
            url: '@Url.Action("Authorize", "Home")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { 'id': id },
            success: function (color) {
                return color;
            },
            error: function () {
                alert('Error occured');
            }
        });
    }
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>hello</h1>
        <input id="Submit1" type="submit" value="submit"  onsubmit="CallService" />
    </div>
</body>
</html>
